.card{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    align-items: center;
    margin: 2%;
   
    p{
        font-size: 1.2rem;
    }
}

 a{
        text-decoration: none;
        color: inherit;
        width: 100%;
        border: 2px solid navy;
    }